<!DOCTYPE html>
<html>

<head>
    <title>Course Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        body { background: #6c63ff; overflow-x: hidden; overflow-y: scroll;}
        #body {
            margin: auto; border-radius: 15px; background-color: #fff; margin-top: 15px; padding:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        }
        #course-list-header {
            background: url(https://i.postimg.cc/Mp0xBqPs/book.png) no-repeat; background-position: left top; background-size: 130% 200%;
        }
        #add-course-header {
            background: url(https://i.postimg.cc/sXBNXP2G/Idea.png) no-repeat center; background-size: auto; margin-bottom: 20px; border-radius: 0px 150px 0px;
        }
        #signin-header {
            background: url(https://i.postimg.cc/6q0gsjPn/register.png) no-repeat; background-size: cover;
        }
        #signup-header {
            background: url(https://i.postimg.cc/85FhWtMD/welcome.png) no-repeat center; background-size: cover;
        }
    </style>
</head>

<body style="height: 800px;">

        <div class="row">
            <div id="body" class="col-md-6">
                <!-- retrieving HTML String from the child Views -->
                {{{body}}}
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
</body>

</html>